@font-face {
  font-family: 'Helvetica-Neue';
  src: url('HelveticaNeueMedium.otf');
}
.slider{
position:relative;
width:1130px;
height:550px;
margin:0 auto;
}
.slide{
position:absolute;
top:0;
width:100%;
object-fit:contain;
transition:opacity 0.6s ease;
opacity:0;
}
.slide.active{
opacity:1;
}
.prev{
position:absolute;
left:10px;
top:50%;
transform:translateY(-50%);
}
.next{
position:absolute;
top:50%;
right:10px;
transform:translateY(-50%);
}
.prev,.next{
  background-color:none;
  width:24px;
  height:24px;
  border:none;
}
.prev:hover, .next:hover{
  background-color:black;
  color:white;
}
.slider-divs{
position:absolute;
bottom:50px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:20px;
}
.slider-divs div{
width:10px;
height:5px;
background-color:white;
transition:background-color 0.15s, width 0.15s;
cursor:pointer;
}
.slider-divs div:hover{
background-color:black;
}
.slider-divs div.expand-slider-div{
width:30px;
background-color:black;
}
.website-slogan{
  text-align:center;
  margin-top:60px;
  margin-bottom:30px;
  font-size:40px;
}
.product-category{
  overflow:hidden;
  display:flex;
  justify-content:center;
  gap:10px;
  padding-left:120px;
  padding-right:120px;
}
.product-category img{
  width:400px;
  object-fit:cover;
  transition: transform 0.5s ease;
}
.product-category-image-eyes,.product-category-image-face,.product-category-image-lips{
  width:400px;
  height:400px;
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
  transition: background-size 0.15s;
}
.product-category-image-eyes{
  background-image: url('./pic1.webp');
}
.product-category-image-face{
  background-image: url('./pic2.webp');
}
.product-category-image-lips{
  background-image: url('./pic3.webp');
}
.category-eyes:hover .product-category-image-eyes, .category-face:hover .product-category-image-face, .category-lips:hover .product-category-image-lips{
  background-size:120%;
}
.product-category-name{
  margin-top:20px;
  font-size:20px;
}
.product-category-slogan{
  font-family:Neue-regular;
  color:#777777;
  font-size:20px;
  margin-bottom:30px;
}
.product-category-discoverbtn-eyes, .product-category-discoverbtn-face, .product-category-discoverbtn-lips{
  background-color:#ed9492;
  color:white;
  border:none;
  font-weight:bold;
  font-size:14px;
  padding:13px 15px;
}
.product-category-discoverbtn-eyes:hover, .product-category-discoverbtn-lips:hover, .product-category-discoverbtn-face:hover{
  background-color:black;
}
.trending{
  margin-top:70px;
}
.trending-title{
  text-align:center;
  font-size:35px;
  font-weight:700;
}
.trending-products-align{
  display:flex;
  justify-content:center;
}
.trending-products{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
.trending-products img{
  width:400px;
}
.trending-products div{
  position:relative;
  width:400px;
  
}
.trending-products-name{
  font-family:Neue-regular;
  font-size:18px;
}
.trending-products-name:hover{
  text-decoration: underline;
}
.trending-products-status{
  position:absolute;
  top:0;
  background-color:black;
  color:white;
  padding:3px;
  font-size:14px;
}
.trending-add-to-cart-btn{
  background-color:#ed9492;
  display:flex;
  align-items:center;
  gap:5px;
  border:none;
  padding:5px;
  margin-top:10px;
}
.trending-cart-icon{
  color:white;
  width:35px; 
  height:35px;
  padding:5px;
}
.trending-cart-btn-text{
  color:white;
  font-weight:bold;
  font-size:14px;
}
.must-have-new-arrivals-title{
  text-align:center;
  font-size:60px;
  font-weight:700;
  margin-top:50px;
}
.must-have-small-ad{
  font-family:Neue-regular;
  color:#777777;
  text-align:center;
  font-size:19px;
}
.must-have-1,.must-have-2{
  margin-top:100px;
  display:flex;
  justify-content:center;
  gap:70px;
}
.must-have-product-info{
  margin-top:100px;
}
.must-have-title{
  font-size:40px;
  margin-bottom:20px;
  width:400px;
}
.must-have-info{
  width:435px;
  font-family:Neue-regular;
  color:#777777;
  font-size:19px;
  line-height:30px;
}
.footer-align{
  display:flex;
  justify-content: center;
  margin-top:100px;
}
.footer{
  display:flex;
  gap:50px;
}
.footer-col1-title{
  font-size:22px;
  margin-bottom:15px;
}
.footer-col1-info{
  color:#777777;
  font-family:Neue-Regular;
  font-size:18px;
  width:380px;
  margin-bottom:30px;
}
.footer-col1-title2{
  font-size:18px;
  display:inline-block;
}
.footer-col1 i{
  margin-left:25px;
  color:#777777;
  font-size:20px;
  transition:color 0.15s;
}
.footer-col1 i:hover{
  color:black;
}
.footer-col2-title{
  font-size:18px;
  margin-bottom:20px;
}
.footer-col2-whatsapp{
  color:#777777;
  font-family: Neue-Regular;
  font-size:19px;
}
.whatsapp-number{
  color:black;
  font-family:Neue Einstellung;
  font-weight:bold;
  font-size:18px;
}
.footer-col2-site{
  color:#ed9492;
  font-family:Neue-Regular;
  font-size:18px;
  cursor:pointer;
}
.footer-col2-site:hover{
  color:#777777;
}
.footer-col3-options p{
  color:#777777;
  font-family:Neue-Regular;
  font-size:19px;
  line-height:30px;
  cursor:pointer;
}
.footer-col3-options p:hover{
  color:#ed9492;
}
#footer-col3-title{
  color:black;
  font-size:19px;
  margin-bottom:10px;
}
.copy-right-disclaimer{
  font-family:Neue-Regular;
  color:#777777;
  margin-top:50px;
  margin-left:200px;
  margin-bottom:100px;
}
.flags{
  width:30px;
  height:20px;
  margin-right:7px;
  background-image: url("currency-flags.png");
  display:inline-block;
}
.flags-United-Arab-Emirates{
  background-position:-445px -5px;
}
.flags-United-States{
  background-position:-365px -5px;
}
.flags-Kuwait{
  background-position:-285px -245px;
}
.flags-Saudi{
  background-position:-325px -95px;
}
.flags-Bahrain{
  background-position:-125px -455px;
}
.currency-flag{
  position:fixed;
  bottom:10px;
  left:5px;
  border-radius:3px;
  color:#403F3F;
  cursor:pointer;
  font-family:Helvetica-Neue;
  border:1px solid #dbdbdb;
  padding:15px;
  font-size:14px;
  background-color:white;
}
.arrow-flag{
  margin-left:10px;
}
.currency-options div{
  padding:10px;
}
.currency-options div:hover{
  background-color:#F6F6F6;
}
.currency-options{
  background-color:white;
  position:absolute;
  top:-250px;
  width:260px;
  border:2px solid #F6F6F6;
  opacity:0;
  transition: opacity 0.15s;
  pointer-events:none;
}

/*scroll to the top*/

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.scroll-to-top:hover {
  background-color: #ed9492;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top svg {
  width: 35px;
  height: 35px;
}
.currency-shortform{
  color:#777777;
  font-size:18px;
}